<h1>Search Results:</h1>
<hr>

<% if (pieces == null) {%>
    <i>No Results</i> 
<%}%>
<% for (piece of pieces) { %>
    <a href="/objects/<%= piece.objectID %>"><%= piece.title %></a><br>
    <% if (piece.constituents == null) {%>
        <i>(No artist information), </i> 
    <%} else {%>
        <%= piece.artistDisplayName %>, 
    <% } %><br>
    <%= piece.department %>. <%= piece.objectDate %><br>
    <br>
<%}%>