
<div class="d-flex flex-wrap text-center">
    <% for (piece of pieces){%>
        <div class="p-3 m-3 border border-primary bg-light">
            <a href="/starred/remove/<%= piece.objectID %>" style="float:right;">X</a><br>
            <img src="<%= piece.primaryImage %>" height="200"><br>
            <a href="/objects/<%= piece.objectID %>"><%= piece.title %></a><br>
            <% if (piece.constituents == null) {%>
                <i>(No artist information), </i> 
            <%} else {%>
                <%= piece.artistDisplayName %>, 
            <% } %>
            <%= piece.department %>.<br><%= piece.objectDate %>
            </div>
    <% } %>
</div>